/* ---- reset ---- */

body  {
    
  background-image: url('https://1.bp.blogspot.com/-MEKwgnvkfUQ/Xr5e3f6SNOI/AAAAAAAAFlI/ncTw3Gi6N8QcjOSshG4MOCaKfiu-laRGgCLcBGAsYHQ/s320/bg_black.jpg');
background-size: 100%;

  background-attachment: fixed;


    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
  }

  
  canvas  {
    display: block;
    vertical-align: bottom;
  }
  /* ---- particles.js container ---- */
  
  #site-content {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #bdca0b00;
  }
 
  
  /* hadi dial bombaje*/

  #vert-move{-webkit-animation:mover 1s infinite alternate;animation:mover 1s infinite alternate}@-webkit-keyframes mover{0%{transform:translateY(0)}100%{transform:translateY(-10px)}}@keyframes mover{0%{transform:translateY(0)}100%{transform:translateY(-10px)}}
/*hadi dial opacity zwina l div */
header {


background: linear-gradient(to right,rgba(7,98,114,.3) 0%,rgba(3,237,208,.3) 99%);
border-radius: 10px;
    border: 1px solid #014242;
    transition: .4s;
    height: 150px;
    width: 1280px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

main {
background: rgba(7, 98, 114, 0.212);
  transition: .4s;
  border: 1px solid #014242;

  height: 800px;
  width: 1280px;
  margin: auto;
  
  border-radius: 10px;

  
    }

.center{
margin-left: 45%;

}
  
