/* ---- reset ---- */

body  {
    
  background-image: url('https://1.bp.blogspot.com/-MEKwgnvkfUQ/Xr5e3f6SNOI/AAAAAAAAFlI/ncTw3Gi6N8QcjOSshG4MOCaKfiu-laRGgCLcBGAsYHQ/s320/bg_black.jpg') !important ;
background-size: 100% !important ;

  background-attachment: fixed !important ;


    margin: 0 !important ;
    font: normal 75% Arial, Helvetica, sans-serif !important ;
  }

  
  canvas  {
    display: block !important ;
    vertical-align: bottom !important ;
  }
  /* ---- particles.js container ---- */
  
  #test {
    position: absolute !important ;
    width: 100% !important ;
    height: 100% !important ;
    background-color: #bdca0b00 !important ;
  }
 

  
  /* hadi dial bombaje*/

  #vert-move{-webkit-animation:mover 1s infinite alternate;animation:mover 1s infinite alternate}@-webkit-keyframes mover{0%{transform:translateY(0)}100%{transform:translateY(-10px)}}@keyframes mover{0%{transform:translateY(0)}100%{transform:translateY(-10px)}}
/*hadi dial opacity zwina l div */

/*
.center{
margin-left: 45% !important ;

}
  */

/* mn hna ghaibda sda3*/



#site-header, #site-header-inner {
    background-color: #007ab76e;
    position: absolute;
}


* {
   
    position: absolute;
}




