/* ---- reset ---- */

#site-content  {
    
  background-image: url('https://1.bp.blogspot.com/-MEKwgnvkfUQ/Xr5e3f6SNOI/AAAAAAAAFlI/ncTw3Gi6N8QcjOSshG4MOCaKfiu-laRGgCLcBGAsYHQ/s320/bg_black.jpg') !important ;
background-size: 100% !important ;

  background-attachment: fixed !important ;


    margin: 0 !important ;
    font: normal 75% Arial, Helvetica, sans-serif !important ;
  }

  
  canvas  {
    display: block !important ;
    vertical-align: bottom !important ;
  }
  /* ---- particles.js container ---- */
  
  #site-content {
    position: absolute !important ;
    width: 100% !important ;
    height: 100% !important ;
    background-color: #bdca0b00 !important ;
  }
 
  
  /* hadi dial bombaje*/

  #vert-move{-webkit-animation:mover 1s infinite alternate;animation:mover 1s infinite alternate}@-webkit-keyframes mover{0%{transform:translateY(0)}100%{transform:translateY(-10px)}}@keyframes mover{0%{transform:translateY(0)}100%{transform:translateY(-10px)}}
/*hadi dial opacity zwina l div */
header {


background: linear-gradient(to right,rgba(7,98,114,.3) 0%,rgba(3,237,208,.3) 99%) !important ;
border-radius: 10px !important ;
    border: 1px solid #014242 !important ;
    transition: .4s !important ;
    height: 150px !important ;
    width: 1280px !important ;
    margin: auto !important ;
    margin-top: 20px !important ;
    margin-bottom: 20px !important ;
}

main {
background: rgba(7, 98, 114, 0.212) !important ;
  transition: .4s !important ;
  border: 1px solid #014242 !important ;

  height: 800px !important ;
  width: 1280px !important ;
  margin: auto !important ;
  
  border-radius: 10px !important ;

  
    }

.center{
margin-left: 45% !important ;

}
  
